<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facturacion y Ventas</title>
    <link rel="stylesheet" href="./css/cssTop.css">
    <!-- 
        Importar la libreria de iconos del css desde boxicons
        Link: https://boxicons.com/usage
    -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header-top">
        <div class="logo-sigfvi">
            <img src="./img/Logo-SIGFVI.png" alt="logo">
        </div>
        <div class="container-user">
            <div class="image-user">
                <img src="./img/Iconos/user-icono-PP.png" alt="Imagen">
            </div>
            <div class="text-container">
                <p class="text-1">Administrador</p>
                <p class="text-2">Miguel Angel</p>
            </div>
        </div>

    </header>

</body>

</html>